{% extends 'layout.html.twig' %}

{% set itemType = itemType|default('json_field') %}

{% set pageTitle = itemType ~ '.list' %}
{% set pageSubTitle = 'Gestion des champs Json' %}

{% block wrapper %}
    <style>
        .row { margin: 1em auto; }
    </style>

    <h1>Json fields</h1>

    <a class="btn btn-primary" href="{{ path(itemType ~ '_new') }}">{{ 'action.new'|trans }}</a>

    <div class="row" style="height: 200px; overflow: hidden">
        <div class="card col-md-3">
            <h4>Json schemas</h4>
            <div class="card-body">
            <ul class="list-group list-group-horizontal">
                {% for item in json_schemas %}
                    <li class="list-group-item">
                        <a class="btn btn-warning" href="{{ path('json_schema_edit', {'id': item.id}) }}">{{ 'Edit'|trans }}</a>

                        {{ item.getName() }}
                    </li>
                {% else %}
                    <li class="list-group-item">{{ 'No schemas'|trans }}</li>
                {% endfor %}
            </ul>
            </div>
        </div>
        <div class="card col-md-9" style="height: 30vh">
            <h4>Json content</h4>
            <div class="card-body" id="json_content">
            {{ json_content }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card card-default col-md-3">
            <div class="card-body">
                <div id="json_tree"></div>
            </div>
        </div>
        <div class="card card-default col-md-9">
            {{ include(itemType ~ '/_table.html.twig', {
                'tableCaption': 'List of Json fields'}) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            console.log("Script working properly!");

            var json = $('#json_content').text();
            json = JSON.parse(json);

            var json1 = [
                {"id":1,"text":"Root node","children":[{"id":2,"text":"Child node 1"},{"id":3,"text":"Child node 2"}]}
            ];
            var json2 = [
                { "id" : "ajson1", "parent" : "#", "text" : "Simple root node" },
                { "id" : "ajson2", "parent" : "#", "text" : "Root node 2" },
                { "id" : "ajson2-2", "parent" : "#", "text" : "Root node 3" },
                { "id" : "ajson3", "parent" : "ajson2", "text" : "Child 1" },
                { "id" : "ajson4", "parent" : "ajson2", "text" : "Child 2" },
            ];

            var jt = $("#json_tree")
                .jstree({
                    "core" : {
                        "check_callback" : true,   // Allow to change the tree
                        "data" : json
                    },
                    // "plugins" : [
                    //     "state", "sort"
                    // ],
                    // "state": {
                    //     "key": "json_tree",
                    //     "filter": function(state) {
                    //         console.log('Restoring saved state: ', state);
                    //     }
                    // }
                })
                .bind('ready.jstree', function(e, data) {
                    var o_json_tree = $("#json_tree").jstree(true);
                    console.log('json_tree tree ready!');
                    console.log(o_json_tree);
                    console.log(data);
                })

                .bind('changed.jstree', function(event, action) {
                    console.log('Changed :', action.action, action.node);

                    if (action.action == 'select_node') {
                        console.log('Selected :', action.node);

                        // if (action.node.data.type == 'json') {
                        //
                        // }
                    }
                });
        });
    </script>
{% endblock %}