{% extends 'layout.html.twig' %}

{% set pageTitle = 'json_field.show' %}
{% set pageSubTitle = 'json_field.subtitle' %}

{% block wrapper %}

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ item.id }}</td>
        </tr>
        <tr>
            <th>{{ 'trans.field.json_field_name'|trans }}</th>
            <td>{{ item.getName() }}</td>
        </tr>
        <tr>
            <th>{{ 'trans.field.json_field_type'|trans }}</th>
            <td>{{ item.getType() }}</td>
        </tr>
        <tr>
            <th>{{ 'trans.field.json_field_format'|trans }}</th>
            <td>{{ item.getFormat() }}</td>
        </tr>
        <tr>
            <th>{{ 'trans.field.parent'|trans }}</th>
            <td>{{ item.getParent() }}</td>
        </tr>
        <tr>
            <th>{{ 'trans.field.json_fields'|trans }}</th>
            <td>
                {% for child in item.getJsonFields() %}
                    {{ child.getShortName() }}
                {% else %}
                    {{ 'No children'|trans }}
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('json_field_index') }}">{{ 'action.back_to_list'|trans }}</a>

    {% if is_granted('ROLE_ADMIN') %}
    {{ include('json_field/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
