{% extends 'layout.html.twig' %}

{% set itemType = itemType|default('json_schema') %}

{% set pageTitle = itemType ~ '.edit' %}
{% set pageSubTitle = 'Gestion des schémas JSON' %}

{% block wrapper %}
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group">
            <a class="btn btn-primary" href="{{ path(itemType ~ '_new') }}">{{ 'action.new'|trans }}</a>
        </div>
        <div class="btn-group mr-2" role="group">
            <a class="btn btn-primary" href="{{ path('json_field_index') }}">{{ 'json_field.list'|trans }}</a>
        </div>
        <div class="btn-group mr-2" role="group">
            <a class="btn btn-warning" href="{{ path(itemType ~ '_validate', {'id': json_schema.id}) }}">{{ 'action.validate'|trans }}</a>
        </div>
        <div class="btn-group" role="group">
            <a class="btn btn-primary" href="{{ path(itemType ~ '_index') }}">{{ 'action.back_to_list'|trans }}</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card card-default">
                <div class="card-header">{{ json_schema.getName() }}</div>
                <div class="card-body">
                    {{ include(itemType ~ '/_form.html.twig', {'button_label': 'action.update'|trans}) }}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-default">
                <div class="card-header">{{ 'Json fields used in the schema'|trans }}</div>
                <div class="card-body">
                    {{ include('json_field/_table.html.twig', {
                        'itemType': 'json_field',
                        'tableCaption': 'List of Json fields'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function(){
            console.log("Edit...");
            $('#json_schema_content').on('blur', function(){
                const ugly = this.value;
                const obj = JSON.parse(ugly);
                this.value = JSON.stringify(obj, undefined, 4);
            });
        });
    </script>
{% endblock %}