{% extends 'layout.html.twig' %}

{% set itemType = itemType|default('json_schema') %}

{% set pageTitle = itemType ~ '.edit' %}
{% set pageSubTitle = 'Gestion des schémas JSON' %}

{% block wrapper %}
    <style>
        .row { margin: 1em auto; }
    </style>

    <h1>Json schema edition: {{ json_schema.getName() }}</h1>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group">
            <a class="btn btn-primary" href="{{ path(itemType ~ '_new') }}">{{ 'action.new'|trans }}</a>
        </div>
        <div class="btn-group mr-2" role="group">
            <a class="btn btn-warning" href="{{ path(itemType ~ '_validate', {'id': json_schema.id}) }}">{{ 'action.validate'|trans }}</a>
        </div>
        <div class="btn-group" role="group">
            <a class="btn btn-primary" href="{{ path(itemType ~ '_index') }}">{{ 'action.back_to_list'|trans }}</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header">{{ json_schema.getName() }}</div>
                <div class="card-body">
                    {{ include(itemType ~ '/_form.html.twig', {'button_label': 'action.update'|trans}) }}
                    <a class="btn btn-primary" href="{{ path(itemType ~ '_index') }}">{{ 'action.back_to_list'|trans }}</a>
                    {{ include(itemType ~ '/_delete_form.html.twig') }}
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-md-9">
            <div class="card card-default">
                <div class="card-header">{{ meta_schema_name }}</div>
                <div class="card-body">
                    {{ json_text }}
                </div><!-- END card-->
            </div>

            <!-- START card-->
            <div class="card card-default">
                <div class="card-header">{{ meta_schema_name }}</div>
                <div class="card-body">
                    {{ include('json_field/_table.html.twig', {
                        'tableCaption': 'List of Json fields'}) }}
                </div>
            </div><!-- END card-->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#json_schema_content').on('blur', function(){
                const ugly = this.value;
                const obj = JSON.parse(ugly);
                const pretty = JSON.stringify(obj, undefined, 4);
                this.value = pretty;
            });
        });
    </script>
{% endblock %}