{% extends 'layout.html.twig' %}

{% set itemType = itemType|default('json_schema') %}

{% set pageTitle = itemType ~ '.edit' %}
{% set pageSubTitle = 'Gestion des schémas JSON' %}

{% block wrapper %}
    <style>
        .row { margin: 1em auto; }
    </style>

    <h1>Json schema edition: {{ json_schema.getName() }}</h1>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group">
            <a class="btn btn-primary" href="{{ path(itemType ~ '_new') }}">{{ 'action.new'|trans }}</a>
        </div>
        <div class="btn-group mr-2" role="group">
            <a class="btn btn-warning" href="{{ path(itemType ~ '_validate', {'id': json_schema.id}) }}">{{ 'action.validate'|trans }}</a>
        </div>
        <div class="btn-group" role="group">
            <a class="btn btn-primary" href="{{ path(itemType ~ '_index') }}">{{ 'action.back_to_list'|trans }}</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header">{{ json_schema.getName() }}</div>
                <div class="card-body">
                    {{ include(itemType ~ '/_form.html.twig', {'button_label': 'action.update'|trans}) }}
                    <a class="btn btn-primary" href="{{ path(itemType ~ '_index') }}">{{ 'action.back_to_list'|trans }}</a>
                    {{ include(itemType ~ '/_delete_form.html.twig') }}
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-md-9">
            <div class="card card-default">
                <div class="card-header">{{ meta_schema_name }}</div>
                <div class="card-body">
                    {{ json_text }}
                </div><!-- END card-->
            </div>

            <!-- START card-->
            <div class="card card-default">
                <div class="card-header">{{ meta_schema_name }}</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <caption>List of Json fields</caption>
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Id</th>
{#                                <th scope="col">{{ 'level'|trans }}</th>#}
{#                                <th scope="col">{{ 'schema'|trans }}</th>#}
                                <th scope="col">{{ 'name'|trans }}</th>
                                <th scope="col">{{ 'required'|trans }}</th>
                                <th scope="col">{{ 'type'|trans }}</th>
                                <th scope="col">{{ 'nullable'|trans }}</th>
                                <th scope="col">{{ 'format'|trans }}</th>
                                <th scope="col">{{ 'pattern'|trans }}</th>
{#                                <th scope="col">{{ 'parent'|trans }}</th>#}
                                <th scope="col">{{ 'children'|trans }}</th>
                                <th scope="col">{{ 'Actions'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1">
                                <td><i class="fa fa-plus" aria-hidden="true"></i></td>
                                <td>Example</td>
                                <td>Example</td>
                                <td>Example</td>
                            </tr>
                            </tbody>
                            <tbody id="group-of-rows-1" class="collapse">
                            <tr>
                                <td>- child row</td>
                                <td>data 1</td>
                                <td>data 1</td>
                                <td>data 1</td>
                            </tr>
                            <tr>
                                <td>- child row</td>
                                <td>data 2</td>
                                <td>data 2</td>
                                <td>data 2</td>
                            </tr>
                            </tbody>
                            <tbody>
                            {% for item in json_schema_fields %}
                                {% if item.getJsonFields()|length > 0 %}
                                    <tr class="clickable" data-toggle="collapse" data-target="#group-{{ item.id }}" aria-expanded="false" aria-controls="group-{{ item.id }}">
                                    <td><i class="fa fa-plus" aria-hidden="true"></i></td>
                                {% else %}
                                    <tr>
                                    <td></td>
                                {% endif %}
                                <th scope="row">{{ item.id }}</th>
{#                                <td>{{ item.getLevel() }}</td>#}
{#                                <td>{{ item.getJsonSchema() }}</td>#}
                                <td>
                                    {% if item.getLevel() > 0 %}
                                    {% for i in range(0, item.getLevel() - 1) %}
                                        {{ '<i class="fa fa-arrow-right"></i>' }}
                                    {% endfor %}
                                    {% endif %}
                                    {{ item.getName() }}
                                </td>
                                <td>
                                    {% if item.getRequired() %}
                                        {{ '<i class="fa fa-check"></i>' }}
                                    {% endif %}
                                </td>
                                <td>{{ item.getType() }}</td>
                                <td>
                                    {% if item.getNullable() %}
                                        {{ '<i class="fa fa-check"></i>' }}
                                    {% endif %}
                                </td>
                                <td>{{ item.getFormat() }}</td>
                                <td>{{ item.getPattern() }}</td>
{#                                    <td>{{ item.getParent() }}</td>#}
                                <td>
                                    {% if item.getJsonFields()|length > 0 %}
                                        {{ item.getJsonFields()|length }} {{ 'children'|trans }}
                                    {% endif %}
                                </td>

                                <td>
                                    <div class="btn-group btn-group-sm" role="group">
                                        {# <a class="btn btn-light" href="{{ path('json_field_show', {'id': item.id}) }}" #}
                                        {# title="{{ 'action.preview'|trans }}"><i class="fa fa-eye"></i></a>#}
                                        <a class="btn btn-sm btn-primary" href="{{ path('json_field_edit', {'id': item.id}) }}"
                                           title="{{ 'action.edit'|trans }}"><i class="fa fa-edit"></i></a>
                                        {{ include('json_field/_delete_form.html.twig', {'json_field': item}) }}
                                        {% if item.getType() == 'object' %}
                                            <a class="btn btn-sm btn-warning"
                                               href="{{ path('json_field_new', {'schema': item.getJsonSchema().id, 'parent': item.id}) }}"
                                               title="{{ 'action.new'|trans }}"><i class="fa fa-plus"></i></a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="3">{{ 'no records found'|trans }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- END card-->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/json-editor-page.js') }}"></script>

    <script type="text/javascript">
        // require('jsoneditor/dist/jsoneditor.css');
        // require('jsoneditor/dist/jsoneditor.js');
        // import JSONEditor from 'jsoneditor/dist/jsoneditor.js';

        $(document).ready(function(){
            console.log("Script working properly!");
        });
    </script>
{% endblock %}