{% extends 'layout.html.twig' %}

{% block wrapper %}
    <div class="row">
        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-header">
                    <a class="btn btn-primary" href="{{ path(itemType ~ '_index') }}">{{ 'action.back_to_list'|trans }}</a>
                </div>
                <div class="card-body">
                    {{ include(itemType ~ '/_form.html.twig', {'button_label': 'action.update'|trans}) }}
                    <a class="btn btn-primary" href="{{ path(itemType ~ '_index') }}">{{ 'action.back_to_list'|trans }}</a>
                    {{ include(itemType ~ '/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
